<div>
    <table>
        <tr>
            <td ng-repeat-start="step in $ctrl.ingestPlan.steps">
                <ingest-step step="step"></ingest-step>
            </td>
            <td ng-repeat-end="" ng-if="!$last">
                <i class="fa fa-arrow-right" ng-class="{'inactive-path': !step.wasSuccessful}"></i>
            </td>
        </tr>
        <tr ng-if="$ctrl.hasFailed()">
            <td ng-repeat-start="step in $ctrl.compensationPlan.steps">
                <ingest-step step="step"></ingest-step>
            </td>
            <td ng-repeat-end="">
                <i class="fa fa-arrow-left" ng-class="{'inactive-path': !step.wasSuccessful}" ng-if="!$last"></i>
                <span ng-if="$last">&nbsp</span>
            </td>
            <td style="text-align:center">
                <i class="fa fa-level-down fa-2x fa-rotate-90"></i>
            </td>
        </tr>
        <!--
        <tr>
            <td>
                <ingest-step step="plan.isCompensationPlan ? $ctrl.completionStep : $ctrl.startStep"></ingest-step>
            </td>
            <td>
                <i class="fa fa-arrow-left" ng-if="plan.isCompensationPlan"></i>
                <i class="fa fa-arrow-right" ng-if="!plan.isCompensationPlan"></i>
            </td>
            <td ng-repeat-start="step in plan.steps">
                <ingest-step step="step"></ingest-step>
            </td>
            <td ng-repeat-end="" ng-if="$index !== plan.steps.length - 1">
                <i class="fa fa-arrow-right" ng-if="!plan.isCompensationPlan"></i>
            </td>
            <td ng-if="plan.isCompensationPlan" style="text-align:center">&nbsp;</td>
            <td ng-if="plan.isCompensationPlan" style="text-align:center">
                <i class="fa fa-level-down fa-2x fa-rotate-90"></i>
            </td>
            <td ng-if="!plan.isCompensationPlan && !$ctrl.hasCompensationPlan">
                <i class="fa fa-arrow-right"></i>
            </td>
            <td ng-if="!plan.isCompensationPlan && !$ctrl.hasCompensationPlan">
                <ingest-step step="$ctrl.completionStep"></ingest-step>
            </td>
        </tr>
            -->
    </table>
</div>