<div>
    <table>
        <tr>
            <td ng-repeat-start="step in $ctrl.getIngestPlan().steps">
                <ingest-step step="step"></ingest-step>
            </td>
            <td ng-repeat-end="" ng-if="!$last">
                <i class="fa fa-arrow-right" ng-class="{'inactive-path': !step.wasSuccessful}"></i>
            </td>
        </tr>
        <tr ng-if="$ctrl.hasFailed()">
            <td ng-repeat-start="step in $ctrl.getCompensationPlan().steps">
                <ingest-step step="step"></ingest-step>
            </td>
            <td ng-repeat-end="">
                <i class="fa fa-arrow-left" ng-class="{'inactive-path': !step.wasSuccessful}" ng-if="!$last"></i>
                <span ng-if="$last">&nbsp</span>
            </td>
            <td style="text-align:center">
                <i class="fa fa-level-down fa-2x fa-rotate-90"></i>
            </td>
        </tr>
    </table>
</div>