html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
}

.splash {
    font-size: 2em;
    flex-direction: column;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .splash > * {
        margin: 0.5em;
    }

.hidden {
    display: none;
}

.all-views {
    display: flex;
    align-items: stretch;
    justify-content:space-between;
    flex: 1 1 auto;
}

    .all-views > * {
        border: 1px inset #808080;
        margin:0.4em;
        overflow: auto; 
    }

information-system {
    flex: 0 1 auto;
}

preservation-system {
    flex: 0 1 auto;
}

.capm-system {
    flex: 1 1 auto;
}
