<h1>Information System</h1>
<form ng-submit="$ctrl.submit()">
    <label for="agreementId">
        Submission Agreement:
        <select ng-options="agreement for agreement in $ctrl.submissionAgreements"
                ng-model="$ctrl.selectedSubmissionAgreement"
                id="agreementId"></select>
    </label>
    <label for="data">
        Image Url to submit:
        <input id="data" type="text" ng-model="$ctrl.downloadUrl" />
    </label>
    <button>Submit</button>
</form>